
@{
    ViewData["Title"] = "Index";
}

<div class="center">
<h1>Test Category</h1>
</div>
<br />
<div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AptitudeTestReport">AptitudeTest</a>
     </div>
     </div>
     <br />

     <div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="ReasoningTestReport">ReasoningTest</a>
     </div>
     </div>
      <br />

     <div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="VerbalTestReport">VerbalTest</a>
     </div>
     </div>
     
     <br />
     <div class="center">
     <div>
    <a  class="btn btn-primary"asp-action="Index" asp-controller="Login"> LogOut</a>
</div>
</div>

 <style>
        body {
            background-image:
            url("/Image/Admin.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>    

    <style>
.center {
 justify-content: center;
}
</style>



     