
@{
    ViewData["Title"] = "CategoryMarks";
}


<div class="center">
<div class="form-group">
<h1>CategoryMarks</h1>
 </div>
 </div>
 <br />

<div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="UserMarks">AptitudeMarks</a>
     </div>
     </div>
     <br />

     <div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="ReasoningMarks">ReasoningMarks</a>
     </div>
     </div>
      <br />

     <div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="VerbalMarks">VerbalMarks</a>
     </div>
     </div>
     

     <br />
     <div class="center">
     <div>
    <a  class="btn btn-primary"asp-action="Index" asp-controller="Student"> Back</a>
</div>
</div>

<style>
        body {
            background-image:
            url("/Image/MarksNew.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>   

    <style>
.center {
 justify-content: center;
}
</style>
