
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="TestCategory">Take Test</a>
     </div>
     </div>
     <br />

     <div class="center">
     <div class="form-group">
     <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="CategoryMarks">Marks History</a>
     </div>
     </div>
     
     <br />
     <div class="center">
     <div>
    <a  class="btn btn-primary"asp-action="Index" asp-controller="Login"> LogOut</a>
</div>
</div>


 <style>
        body {
            background-image:
            url("/Image/ExamNew.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>    

    <style>
.center {
 justify-content: center;
}
</style>

