
@{
    ViewData["Title"] = "RepeatExam";
}

<h2>Your Exam is Over,You can take only one test of specific category daily</h2>

 <div>
    <a  class="btn btn-primary"asp-action="TestCategory" asp-controller="Student"> Back</a>
</div>


 <style>
        body {
            background-image:
            url("/Image/MarksNew.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>    